.multiselect-dropdown {
    padding-left: 10px;
    position:relative;
    width: 150px;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  
  .select-header {
    max-height: 50px;
    border-radius: 5px;
    padding: 0.5rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .select-header :hover {
    cursor: pointer;

  }

  .selected-items {
    margin: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
  }

  .selected-items div {
    width: 100%;
    margin-right: 6px;
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .svg {
    position: relative;
    transition: transform 0.5s ease;
  }

  
  .selected-item {
    background: rgb(249, 174, 174);
    color: #1e1e1e; 
    border-radius: 4px;
    max-width: max-content;
    padding: 3px;
  }
  
  .dropdown-arrow {
    width: 12px; 
    height: 12px;
  }
  
  .select-options {
    position: absolute;
    width: 150px;
    top: 55%;
    background-color: #ffffff;
    max-height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    z-index: 5;
  }
  
  .select-option {
    padding: 15px;
    font-size: small;
  }

  .select-options :nth-child(1) {
    border-radius: 4px 4px 0px 0px;
    
  }
  
  .select-options :nth-last-child(1) {
    border-radius: 0px 0px 4px 4px;
  }

  .select-option.selected {
    background: #cccccc;
    color: #fff;
  }
  
  .select-option:hover {
    background: #87cefa;
  }