.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.bar {
    display: flex;
    align-items: center;
    max-height: 50px;
}

.container {
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background-color: white;
}

.completed {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: rgb(197, 197, 197);
}


.container input[type=text] {
    outline: none;
    appearance: none;
    border: none;
    font-size: large;
    height: 20px;
    width: 500px;
    padding-right: 10px;
}

.container input[type=date] {
    background: none;
    border: none;
}

.container ::-webkit-datetime-edit { padding: 1rem; background-color:rgb(255, 255, 255); border-radius: 15px;}
.container ::-webkit-datetime-edit-fields-wrapper { background: none; border-radius: 10px; font-size: large;}
.container ::-webkit-datetime-edit-text { padding: 0 0.3em; }
.container ::-webkit-datetime-edit-month-field { color: rgb(180, 180, 255); }
.container ::-webkit-datetime-edit-day-field { color: rgb(118, 175, 118); }
.container ::-webkit-datetime-edit-year-field { color: rgb(255, 136, 255); }

.date {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.date input {
    bottom: 40px;
    position: absolute;
    margin-bottom: 20px;
}

.date button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
}

.todos {
    padding-top: 15px;
}

.completeToggle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    height: 40px;
    width: 40px;

    padding: 0.5rem;
    border-radius: 5px;

    margin-right: 0.5rem;

}

.completeToggle img {
    padding: 10px;
    border-radius: 10px;
    filter: brightness(1) sepia(1) saturate(500%) hue-rotate(100deg);
}

.completeToggle img:hover {
    background-color: rgba(114, 212, 135, 0.397);
}
